<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Surname</th>
      <th>Name</th>
      <th>Email</th>
      <% Category.where(:user_id => current_user.id).collect do |value| %>
        <th> <%= value.name %> </th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.surname %></td>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <% Category.where(:user_id => current_user.id).collect do |category| %>
          <% found = false %>
          <% CategoriesContact.where(:contact_id => contact.id).collect do |value| %>
            <% if value.contact_id == contact.id && value.category_id == category.id %>
              <% found = true %>
              <td> <%= image_tag "registred.png", height: '20', width: '20' %> </td>
            <% end %>
          <% end %>
          <% unless found %>
            <td>  <%= image_tag "not_registred.png", height: '20', width: '20' %>   </td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Contact', new_contact_path %>
