<p id="notice"><%= notice %></p>

<h1>User Smtps</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Smtp</th>
      <th>Port</th>
      <th>Protocol</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_smtps.each do |user_smtp| %>
      <tr>
        <td><%= user_smtp.username %></td>
        <td><%= user_smtp.smtp %></td>
        <td><%= user_smtp.port %></td>
        <td><%= user_smtp.protocol %></td>
        <td><%= user_smtp.password %></td>
        <td><%= link_to 'Show', user_smtp %></td>
        <td><%= link_to 'Edit', edit_user_smtp_path(user_smtp) %></td>
        <td><%= link_to 'Destroy', user_smtp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Smtp', new_user_smtp_path %>
