<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Settings", edit_user_path(current_user.id)%></li>
        <li><%= link_to "SMTPs configuration",    user_smtps_path %></li>
        <li><%= link_to "Contacts",    contacts_path %></li>
        <li><%= link_to "Email Templates",    email_templates_path %></li>
        <li><%= link_to "Send Emails",    emails_path %></li>
        <li><%= link_to "Category",    categories_path %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
