<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="text-left">
    <span class="text-info"> Emails: <%= ContactsEmail.where(:user_id => current_user.id).count %></span> ||
    <span class="text-info"> Sended: <%= ContactsEmail.where(:user_id => current_user.id, sended: true).count %></span> ||
    <span class="text-info"> Cancelled with error: <%= ContactsEmail.where(:user_id => current_user.id, error: true).count %> </span>
  </div>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Settings", edit_user_path(current_user.id)%></li>
        <li><%= link_to "SMTPs configuration",    user_smtps_path %></li>
        <li><%= link_to "Contacts",    contacts_path %></li>
        <li><%= link_to "Email Templates",    email_templates_path %></li>
        <li><%= link_to "Send Emails",    emails_path %></li>
        <li><%= link_to "Category",    categories_path %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
